.container {
    width: 100%;
    background: rgb(var(--blue-0));
    position: relative;
    padding-bottom: 48px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1400px;
    gap: 16px;
    margin: 0 auto;
    padding: 32px 32px 64px;
}

.container h2 {
    color: rgb(var(--blue-5));
}

.listContainer {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 16px;
    }
}

